ion-menu-button {
    color: var(--ion-color-primary);
  }
  
  #container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
  }
  #more {display: none;}

  .searchBar{
    color: black;

  }
  
  #container a {
    text-decoration: none;
  }
  .Titulo{
    font-weight: bold;
    font-size: 150%;
    padding-left: 2%;
  }
  .Titulo2{
    font-weight: bold;
    font-size: 120%;
    padding-left: 2%;
  }

  .section{
    #ContenedorSlides{
      
      // width: 100%;
      // height: 20%;
      .header{
        .title{
          font-weight: bold;
          font-size: 150%;
        }
        .ContenedorChips{
          display: flex;
          flex-flow: row;
          justify-content: center;
          align-items: center;
        }
        p{
          font-size: 17px;
          text-justify: initial !important;
        }
        #readMore{
          display: flex;
          justify-content: flex-end;
          align-items:flex-end;
          color: #3670e5;
        }
      }
    }
    
    .body{
      img{
        
      }
      .content{
        text-align: justify;
      }
    }
  }

  ion-content{
    --background: linear-gradient(90deg, rgba(43,90,148,1) 0%, rgba(45,140,229,1) 35%, rgba(45,112,229,1) 100%);
    height: 50%;
    ion-card{
        width: 100%;
        box-shadow: none;
        border-radius: 14px;
        padding: 14px;
        background: rgba(255,255,255,.8);
        ion-card-title{
          font-size: 20px;
        }
        .main{
            border-radius: 50px;
            background: #ffffff;
            box-shadow: 7px 7px 20px #dbdfe2, -7px -7px 20px #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .title{
          display: flex;
          flex-flow: row;
          justify-content: center;
          align-items: center;
          img{
            width: 60px;
            height: 60px;
          }
        }
        img{
          width: 100%;
          height: auto;
        }
    }

    .slides{
        background: #f1f5f8;
        padding: 4px 10px 20px 10px;
        border-radius: 0 0 28px 28px;
    }

    .container{
        padding: 6px 20px;
        color: #ffffff;
    }

    ion-item{
        --background: rgba(255,255,255,.1);
        padding: 0;
        margin: 14px 0;
        --border-radius: 14px;
        color: black;
        font-weight: 600;

        ion-label{
            padding: 6px 0;

            h4{
                font-weight: 600;
                font-size: 16px;
            }
            h6{
                color: rgba(255,255,255,.66);
            }
        }

        h2{
            padding-bottom: 8px;
        }
    }
}